.containerCards {
  padding: 0 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7% 5%;
}

.card {
  width: 9.2rem;
  border-radius: 8px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
